{% extends "base.html" %}

{% block overview_table %}
<tr>
    <th class="text-right">Item Number:</th>
    <td>
        Number
    </td>
</tr>
<tr>
    <th class="text-right">Condition:</th>
    <td>
        <span class="label label-success">New</span>
        <span class="label label-primary">Used</span>&nbsp;
    </td>
</tr>
<tr>
    <th class="text-right">Original Box:</th>
    <td>
        <span class="label label-success">Included</span>
        <span class="label label-primary">Not Included</span>&nbsp;
    </td>
</tr>
<tr>
    <th class="text-right">Certificate of Authenticity:</th>
    <td>
        <span class="label label-success">Included</span>
        <span class="label label-primary">Not Included</span>&nbsp;
    </td>
</tr>
<tr>
    <th class="text-right">Golden Roman Tag:</th>
    <td>
        <span class="label label-success">Included</span>
        <span class="label label-primary">Not Included</span>&nbsp;
    </td>
</tr>
{% endblock %}