<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="eBay Template">
        <meta name="author" content="Valley General">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h3><span class="glyphicon glyphicon-barcode"></span> Item</h3>
            <h4><span class="glyphicon glyphicon-th-list"></span> Overview</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <caption><p class="text-center">The following is an 'at-a-glance' summary of the item(s) available in this listing.</p><caption>
                        <tbody>
                            <tr>
                                <th class="text-right">Item:</th>
                                <td>
                                    Item Name
                                </td>
                            </tr>
                            {% block overview_table %}
                            <tr>
                                <th class="text-right">Condition:</th>
                                <td>
                                    <span class="label label-success">New</span>
                                    <span class="label label-primary">Pre-Owned</span>
                                    <span class="label label-warning">For Parts</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">Original Packaging:</th>
                                <td>
                                    <span class="label label-success">Yes</span>
                                    <span class="label label-info">No</span>
                                    <span class="label label-primary">See Description</span>
                                </td>
                            </tr>
                            {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "components/description.html" %}
            <hr>
            {% include "components/packaging.html" %}
            {% block packaging_details %}{% endblock %}
            <hr>
            {% include "components/shipments.html" %}
            <hr>
            {% include "components/returnpolicy.html" %}
            <hr>
            {% include "components/feedback.html" %}
        </div> <!-- /container -->
    </body>
</html>
